@import "tailwindcss";


@theme {

    /* Colors background theme dark*/
    --color-background-start: #0F172A;
    --color-background-medium: #15142B;
    --color-background-end: #1A102C;



    /* Colors background theme light
    --color-background-start: #1A102C;
    --color-background-end: #563592; */




    /* Colors sidebar background */
    --color-background-sidebar-black: #1A102C;

    /* Colors for fonts */
    --color-main-color-fonts-back:  #8A3FFC;




  /* --color-brand-light: #C4B5FD; */

  /* --color-neutral-50: #F9FAFB;
  --color-neutral-100: #F3F4F6;
  --color-neutral-500: #6B7280;
  --color-neutral-900: #111827;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
} */


    /* Gradinte do background*/
    /* --gradient-dark: linear-gradient(to right, var(--color-background-start), var(--color-background-end)); */

}
